img{
	opacity:0.5;
}


.btn1{ 
	height:35px;
	width:259px;
	background-color:rgb(135, 137, 150);
	border-radius: 8px;
	color:white;
	font-size:15px;
	font-family: serif;
	border:1px solid black;
	padding:10px;
	}
	
.btn1:hover 
{
background-color: lightgreen;
color:black;

}




.btn2 
{ 
height:35px;
width:210px;
font-family: serif;
background-color:rgb(0, 255, 106);
color:white;
font-size:15px;
border:1px solid black;
border-radius: 8px;
}

.btn2:hover 
{
background-color: lightgreen;
color:black;

}



h1{
	font-family:serif;
	font-weight: bold; 
	color: #47db1a;
	margin-top:40px;
	text-align: center;
	font-size: 55px;
	text-shadow:black 0 0 40px;
	word-spacing: 10px;
}
h1:hover span{
	position:relative;
	display:inline-block;
	animation: animate 1.5s linear infinite;
	cursor: pointer;
}
h1 span:nth-child(1){
	animation-delay: 0s;
}
h1 span:nth-child(2){
	animation-delay: 0.2s;
}
h1 span:nth-child(3){
	animation-delay: 0.4s;
}
h1 span:nth-child(4){
	animation-delay: 0.6s;
}
h1 span:nth-child(5){
	animation-delay: 0.8s;
}
h1 span:nth-child(6){
	animation-delay: 1s;
}
h1 span:nth-child(7){
	animation-delay: 1.2s;
}
h1 span:nth-child(8){
	animation-delay: 1.4s;
}
h1 span:nth-child(9){
	animation-delay: 1.6s;
}
h1 span:nth-child(10){
	animation-delay: 1s;
}
h1 span:nth-child(11){
	animation-delay: 1.8s;
}
h1 span:nth-child(12){
	animation-delay: 2.0s;
}
h1 span:nth-child(13){
	animation-delay: 2.2s;
}

@keyframes animate{
	0%{
		transform:translateY(0px);
	}
	10%{
		transform:translateY(-30px);
	}
	15%{
		transform:translateY(0px);
	}
	20%{
		transform:translateY(-20px);
	}
	25%{
		transform:translateY(-20px);
	}
	30%{
		transform:translateY(0px);
	}
	40%{
		transform:translateY(-10px);
	}
	45%{
		transform:translateY(-20px);
	}
	100%{
		transform:translateY(0px);
	}
	
}


